<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<appSettings>
		<add key="MyString" value="Hello, world!"/>
	</appSettings>

	<log4net>
		<root>
			<level value="INFO"/>
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender"
				 type="log4net.Appender.RollingFileAppender" >
			<param name="AppendToFile" value="false" />
			<param name="MaximumFileSize" value="50MB" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="File" value="RemoteProcess.log" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="--- [ Log Start ] ---&#13;&#10;"/>
				<param name="Footer" value="--- [ Log End ] ---&#13;&#10;"/>
				<param name="ConversionPattern" value="[%d {%t} %-5p %c]: %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>