<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MyValue" value="MyValue"/>
	</appSettings>
  <system.runtime.remoting>
    <channels>
      <channel ref="ipc">
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full" />
        </serverProviders>
      </channel>
    </channels>
  </system.runtime.remoting>
</configuration>